/*style de toute la section page Accueil*/
body{
  font-family: 'Comfortaa', cursive;
}

/*tête de la page : type du plat & horloge*/
header {
  position: -webkit-sticky;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #8ca0ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 30px;
  z-index: 3;
}

#page {
    display: grid;
    width: 100%;
    height: 99vh;
    grid-template-areas:
                         "main main"
                         "foot  foot";
    grid-template-rows: 1fr 60px;
    grid-template-columns: 150px 1fr;
    scroll-snap-type: y mandatory;
  }

  /*horloge*/
  .clock {
    background: #97007e;
    width: 110px;
    padding: 9px;
    text-align: center;
    border-radius: 10px;
  }
  
  .clockTime, .clockAmpm {
    font-size: 20px;
    color: pink;
  }
  
  .clockTime {
    font-size: 30px;
  }

  /*menu animation*/
    #menuAccordeon {
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;
    width: 120px;
    font-weight: 400;
    font-size: 20px;
    }

    #menuAccordeon ul {
    padding:0;
    margin: 3px;
    width: 100px;
    list-style:none;
    text-align: center;
    position: fixed;
    }

    #menuAccordeon li li {
     max-height:0;
     overflow: hidden;
     transition: all .5s;
     border-radius:0;
     background: #444;
     box-shadow: none;
     border:none;
     margin:0; 
    }

    #menuAccordeon a {
    display:block;
    text-decoration: none;
    color: #fff;
    padding: 8px 0;
    font-size:1.2em;
    }

    #menuAccordeon ul li a, #menuAccordeon li:hover li a {
    font-size:1em;
    }

    #menuAccordeon li li:hover {
     background: #999;
    }

    #menuAccordeon ul li:last-child {
     border-radius: 0 0 3px 3px;
     border:none;
    }
    
    #menuAccordeon li:hover li {
    max-height: 10em;
    }

  /*page d'accueil : plat & en savoir plus*/
  #page > main {
    grid-area: main;
    background-color: #ffff64;
    font-weight: 700;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @keyframes identifier {
    0% { transform: rotate(10deg); }
    33% { transform: rotate(-10deg); }
    66% { transform: rotate(10deg); }
  }
  
  main:hover .meal {
    animation: identifier 2000ms;
  }


  /*bouton vers la page 2*/
  .more {
    background-color: #333;
  }
  
  .more a {
    float: center;
    display: block;
    color: #F2F2F2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .more a:hover {
    background-color: rgb(199, 202, 15);
    color: black;
  }

  /*Bas de page : saison*/
  #page > footer {
    grid-area: foot;
    background-color: #8cffa0;
    font-weight: 300;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #season {   
    align-items: center;
    font-size: 25px;
  }

  /*Bouton de rafraîchissement*/
  :root {
    --bg: #2023b9;
    --color: rgb(159, 15, 172);
  }

  .wrapper {
    padding: 0rem 0;
    filter: url('#goo');
  }

  .button {
    display: inline-block;
    text-align: center;
    background: var(--color);
    color: var(--bg);
    padding: 1em 1em 1em;
    line-height: 0.1;
    border-radius: 1em;
    position: relative;
    min-width: 5em;
    text-decoration: none;
    font-family: var(--font);
    font-size: 1 rem;
  }

  .button:before,
  .button:after {
    width: 3em;
    height: 1.5em;
    position: absolute;
    content: "";
    display: inline-block;
    background: var(--color);
    border-radius: 20%;
    transition: transform 1s ease;
    transform: scale(0);
    z-index: -1;
  }

  .button:before {
    top: -25%;
    left: 20%;
  }

  .button:after {
    bottom: -25%;
    right: 20%;
  }

  .button:hover:before,
  .button:hover:after {
    transform: none;
  }

/*style de toute la section pageIngrédients*/
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "zebi2 zebi1 zebi1"
    "zebi2 zebi1 zebi1"
    "zebi2 zebi1 zebi1"
    "zebi2 zebi1 zebi1"
    "zebi3 zebi3 zebi3";
  width: 100%;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

.zebi3 { 
  grid-area: zebi3; 
  background-color: rgb(159, 15, 172);
}

.zebi1 { 
  grid-area: zebi1; 
  background-color: #8cffa0;
}

.zebi2 { 
  grid-area: zebi2; 
  background-color: #ffff64;
}